/*CONTENEUR PRINCIPAL*/
body{
    display: flex;
    flex-direction: row;
    background: rgb(211,211,211);
}

main{
    flex:85%;
}

h1{
    text-align: right;
}
.flex_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#etat_civil{
    flex: 1;
    border-style: groove;
    margin: 2px 8px 2px 2px;
}

#form_etat_civil{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#form_etat_civil > section{
    margin: 20px 150px 20px 8px;
}
#ppSection{
    margin: auto;
    width: min-content;
}
#ppUpload{
    opacity: 0;
}
#form_etat_civil > section > p {
    width: 200px;
    height: 30px;
    background: white;
    border-style: solid;
    border-width: 1px;
}

#scolarite{
    flex: 1;
    display: flex;
    flex-direction: column;
}
#scolarite_infos{
    margin: 2px 2px 2px 8px;
    border-style: groove;
}
#form_scolarite{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#form_scolarite > section{
    margin: 10px 150px 10px 8px;
}
#form_scolarite > section > p {
    width: 200px;
    height: 30px;
    background: white;
    border-style: solid;
    border-width: 1px;
}
h2{
    flex: none;
}
#notes{
    margin: 8px 2px 2px 8px;
    border-style: groove;
}