/**************************************************************************************
                                    TABLEAU DE BORD
**************************************************************************************/
/*CONTENEUR PRINCIPAL*/
body{
    display: flex;
    flex-direction: row;
    background: rgb(211,211,211);
}

main{
    flex:85%;
}

h1{
    text-align: right;
}

.flex_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex_component{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    border-radius: 8px;
    border-style: groove;
    width: 330px;
    color: black;
    text-decoration: none;
}

#inscrire_etudiant{
    background: blueviolet;
    border-color: blueviolet;
}
#inscrire_etudiant:hover{
    background: rgb(75,0,130);
    border-color: rgb(75,0,130);
}
#afficher_notes{
    background: green;
    border-color: green;
}
#afficher_notes:hover{
    background: darkgreen;
    border-color: darkgreen;
}
#saisie_note{
    background: red;
    border-color: red;
}
#saisie_note:hover{
    background: darkred;
    border-color: darkred;
}
#liste_etudiants{
    background: orange;
    border-color: orange;
}
#liste_etudiants:hover{
    background: darkorange;
    border-color: darkorange;
}
.flex_component_text{
    margin: auto;
    font-family: cursive;
    font-size: medium;
}
