body{
    display: flex;
    flex-direction: row;
    background: rgb(211,211,211);
}

main{
    flex:85%;
}

h1{
    text-align: right;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}ul > a{
     margin: 0.5%;
     border-radius: 8px;
     border-style: groove;
     width: 350px;
     color: black;
     text-decoration: none;
 }

ul > a > li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul > a > li > img{
    width: 128px;
    height: 128px;
}

ul > a > li > p{
    margin: auto;
    font-family: cursive;
    font-size: medium;
}