/*********************************************************************************
                    BARRE DE NAVIGATION LATÉRALE
*********************************************************************************/
.barre_laterale{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background: rgb(60,60,60);
    margin-right: 4px;
    height: 100%;
    width: max-content;
}

nav{
    display: flex;
    flex-direction: column;
}
.nav_a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
    padding-right: 8px;
}
.nav_a:hover{
    background: darkgray;
}
.nav_a > p{
    margin-left: 6px;
    visibility: visible;
}
.nav_img{
    width: 50px;
    height: 50px;
}
#menu{
    cursor: pointer;
}
