body{
    display: flex;
    flex-direction: row;
    background: rgb(211,211,211);
}

main{
    flex:85%;
}
h1{
    text-align: right;
}
.flex_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#recherche{
    border-style: groove;
    border-width: 2px;
    flex: 30%;
}
#affichage{
    flex: 70%;
}
h3{
    text-align: center;
}